<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="color: #0adaff">Go-Corona</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <!-- <a  onclick="openNav()">About me! <span class="sr-only">(current)</span></a> -->
        <span class="nav-link" href="/abtme" onclick="openNav()" style="cursor:pointer;">About me!</span>
      </li>
     
    </ul>

   <!--  <form class="form-inline my-2 my-lg-0" method="GET" action="/search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="country">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="color: #0adaff;border-color: #0adaff">Search</button>
    </form> -->
  </div>
</nav>
